.luarc.json
nvim/lazy-lock.json
tmux/plugins
.vim/.netrwhist
.vim/plugged/*
waybar/colors-waybar.css
/emacs/eln-cache/
/emacs/elpaca/
/emacs/projectile-bookmarks.el
/emacs/projectile-bookmarks.eld
emacs/.local/harpoon
emacs/racket-mode
emacs/transient
emacs/.lsp-session-v1
discord-flags.conf
emacs/elpa
emacs/projects
emacs/auto-save-list
emacs/eshell/history
emacs/eshell/lastdir
emacs/custom-file.el
nvim/snippets/odin.lua
/mako/config
/waybar/colors-waybar.css
emacs/projectile.cache
mako/config
waybar/colors-waybar.css
emacs/lsp-cache/50ed47f4
emacs/.cache/lsp/elixir-ls
emacs/tree-sitter
emacs/auto-inserts.el
emacs/.mc-lists.el
emacs/run.sh
fish/functions/__zoxide_cd.fish
fish/functions/__zoxide_pwd.fish
fish/functions/__zoxide_z.fish
fish/functions/__zoxide_z_complete.fish
fish/functions/__zoxide_zi.fish
fish/functions/_pure_check_availability.fish
fish/functions/_pure_check_for_new_release.fish
fish/functions/_pure_detect_container_by_cgroup_method.fish
fish/functions/_pure_detect_container_by_pid_method.fish
fish/functions/_pure_format_time.fish
fish/functions/_pure_get_prompt_symbol.fish
fish/functions/_pure_is_inside_container.fish
fish/functions/_pure_is_single_line_prompt.fish
fish/functions/_pure_k8s_context.fish
fish/functions/_pure_k8s_namespace.fish
fish/functions/_pure_parse_directory.fish
fish/functions/_pure_parse_git_branch.fish
fish/functions/_pure_place_iterm2_prompt_mark.fish
fish/functions/_pure_prefix_root_prompt.fish
fish/functions/_pure_print_prompt.fish
fish/functions/_pure_print_prompt_rows.fish
fish/functions/_pure_prompt.fish
fish/functions/_pure_prompt_aws_profile.fish
fish/functions/_pure_prompt_beginning.fish
fish/functions/_pure_prompt_command_duration.fish
fish/functions/_pure_prompt_container.fish
fish/functions/_pure_prompt_current_folder.fish
fish/functions/_pure_prompt_ending.fish
fish/functions/_pure_prompt_first_line.fish
fish/functions/_pure_prompt_git.fish
fish/functions/_pure_prompt_git_branch.fish
fish/functions/_pure_prompt_git_dirty.fish
fish/functions/_pure_prompt_git_pending_commits.fish
fish/functions/_pure_prompt_git_stash.fish
fish/functions/_pure_prompt_jobs.fish
fish/functions/_pure_prompt_k8s.fish
fish/functions/_pure_prompt_new_line.fish
fish/functions/_pure_prompt_nixdevshell.fish
fish/functions/_pure_prompt_ssh.fish
fish/functions/_pure_prompt_symbol.fish
fish/functions/_pure_prompt_system_time.fish
fish/functions/_pure_prompt_vimode.fish
fish/functions/_pure_prompt_virtualenv.fish
fish/functions/_pure_set_color.fish
fish/functions/_pure_set_default.fish
fish/functions/_pure_string_width.fish
fish/functions/_pure_user_at_host.fish
fish/conf.d/_pure_init.fish
fish/conf.d/zoxide.fish
/emacs/tramp
/emacs/recentf
/emacs/.cache/
/emacs/%backup%~
/emacs/recentf.eld
lazynvim
